* {
    margin: 0;
    padding: 0;
}

.prompt {
    width: 300px;
    height: 325px;
    background-color: #3da782;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.image {
    height: 256px;
    width: 256px;
    background-color: #ccc;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.btn {
    border-radius: 5px;
    height: 35px;
    width: 60px;
    opacity: 0.5;
    border-color: #fff;
    cursor: pointer;
    margin-left: 15px;
    font-weight: bolder;
    font-size: medium;
}

.text {
    border-radius: 5px;
    height: 30px;
    width: 150px;
    opacity: 0.5;
    border-color: #fff;
    cursor: pointer;
    padding-left: 10px;
}